.player {
    position: relative;
    width: 100%;
    padding-top: calc(469px / 452px * 100%);

    .react_player {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}