.message {

    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    .messageInfo {
        display: flex;
        flex-direction: column;
        font-weight: 300;

        .img {
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .messageContent {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
            background-color: white;
            padding: 10px 20px;
            border-radius: 0px 10px 10px 10px;
            max-width: max-content;
        }

        .img {
            width: 50%;
            object-fit: cover;
        }
    }

    &.owner {
        flex-direction: row-reverse;

        .messageContent {
            align-items: flex-end;

            p {
                background-color: #ffe5cc;
                border-radius: 10px 0px 10px 10px;
            }

            .img {
                width: 50%;
                height: 100%;
            }
        }
    }
}